@import url('https://fonts.googleapis.com/css?family=Nosifer');

html {
color: #0b3346;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #0b3346;
  }
h1 {
  background-color: #0b3346;
  font-family: 'Nosifer', cursive;
  color: white;
  margin-top: 1px;
  margin-bottom: -27px;
  padding-top: 20px;
}
